@using Login.Domain

@model List<Note>
@{
    ViewData["Title"] = "Not Durumu";
}
<h1>@ViewData["Title"]</h1>

@{

    <table class="table">
        <thead>

            <tr>
                <th scope="col">#</th>
                <th scope="col">Vize Notu</th>
                <th scope="col">Final Notu<th>
                <th scope="col">Ödev Notu<th>
                <th scope="col">Ortalama Not<th>
                <th scope="col">Durumu<th>

                
            </tr>
        </thead>
        <tbody>

            @{

                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td @item.VisaNote></td>
                        <td @item.FinalNote></td>
                        <td @item.HomeworkNote></td>
                        <td @item.AverageNote></td>
                        <td @item.Status>  </td>
                    </tr>
                }
            }

        </tbody>



    </table>
}
