@using Login.Domain

@model List<Student>
@{
    ViewData["Title"] = "Öğrenci Bilgileri";
}
<h1>@ViewData["Title"]</h1>

@{

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Ad</th>
                <th scope="col">Soyad</th>
                <th scope="col">Güncelle</th>
                <th scope="col">Sil</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td><button data-studentId="@item.Id" type="button" class="btn btn-primary student-update">Güncelle</button></td>
                        <td><button data-studentId="@item.Id" type="button" class="btn btn-danger student-delete">Sil</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>

}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".student-delete").on("click", function (e) {
                debugger;
                var answer = window.confirm("Kayıt silinsin mi ?");
                if (answer) {
                    const student = $(this).attr("data-studentId");

                    window.location = '@Url.Action("Delete","Student")' + "?id=" + student;
                }
                else {
                    alert("Kayıt silme iptal");
                }
            });
            $(".student-update").on("click", function (e) {

                const student = $(this).attr("data-studentId");
                window.location = '@Url.Action("Update","Student")' + "?id=" + student;

            });
        });
    </script>
}

